// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h1, h3 {
    margin-bottom: 2rem;
    text-align: center;
}
form {
    margin-bottom: 2rem;
}
.matrix-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

table.matrix {
    margin: 0 auto 2rem auto;
    background-color: #fff;
    td {
        padding: 8px;
    }    
}
